nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-bottom: 1px solid white;
}

ul {
  display: flex;
  flex-direction: row;
  margin-top: 9em;
}

.nav {
  border-bottom: none;
}

li {
  font-size: 1.25em;
  font-family: 'Raleway', sans-serif;
}

 li a {
  color: white;
}

.header {
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.35em;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.header h6 {
  font-size: 1.5em;
  font-weight: 100;
}

.header h1 {
  margin-left: -7em;
}


h1 {
  font-size: 2.5em;
  font-weight: 200;
}

.portrait img {
  max-width: 10em;
  height: auto;
  border: 1px solid black;
  border-radius: 10%;
  margin: 2em 2em 2em 6em;
}

@-webkit-keyframes project {
    0%{background-position:0% 27%}
    50%{background-position:100% 74%}
    100%{background-position:0% 27%}
}
@-moz-keyframes project {
    0%{background-position:0% 27%}
    50%{background-position:100% 74%}
    100%{background-position:0% 27%}
}
@keyframes project {
    0%{background-position:0% 27%}
    50%{background-position:100% 74%}
    100%{background-position:0% 27%}
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 43%}
    50%{background-position:100% 58%}
    100%{background-position:0% 43%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 43%}
    50%{background-position:100% 58%}
    100%{background-position:0% 43%}
}
@keyframes AnimationName {
    0%{background-position:0% 43%}
    50%{background-position:100% 58%}
    100%{background-position:0% 43%}
}


header {
  background: linear-gradient(115deg, #0f6f40, #0d7584, #4fab9e, #0f6f40);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 23s ease infinite;
  -moz-animation: AnimationName 23s ease infinite;
  animation: AnimationName 23s ease infinite;
}

#logo {
  max-width: 10em;
  height: auto;
  margin-right: 3em;
}

.about {
  font-size: 2em;
  font-family: 'Open Sans Condensed', sans-serif;
}

body {
  background: #F2F2F2;
}

.projects {
  display: flex;
  flex-direction: column;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

preview {
  margin-bottom: 1em;
  margin-top: 1em;
}

projects {
  color: white;
}

.projectCard {
  width: 35em;
  margin: 2em;
}

.projectCard  img {
  max-width:100%;
  height: auto;
}

.projectCard h4 {
  color: #E0FBDC;
}

.info {
  display: flex;
}

.info a {
  width: 3em;
  margin: 1em;
}

.credit {
  font-size: 0.65em;
}

embed {
  height: 100vh;
}
