nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-bottom: 2px solid white;
}
.hamburger {
  display: none;
}

ul {
  display: flex;
  flex-direction: row;
  margin-top: 10em;
}

.nav {
  border-bottom: none;
}

li {
  font-size: 1.25em;
  font-family: 'Raleway', sans-serif;
}

 li a {
  color: white;
}

ul.nav > li > a:hover {
	background-color: white;
	border-style: none;
}

.header {
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.35em;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.header h6 {
  font-size: 1.5em;
  font-weight: 100;
}

.header h1 {
  margin-left: -7em;
}

h1 {
  font-size: 2.5em;
  font-weight: 200;
}

.portrait img {
  max-width: 10em;
  height: auto;
  border: 1px solid black;
  border-radius: 10%;
  margin: 2em 2em 2em 6em;
}

@-webkit-keyframes project {
    0%{background-position:0% 27%}
    50%{background-position:100% 74%}
    100%{background-position:0% 27%}
}
@-moz-keyframes project {
    0%{background-position:0% 27%}
    50%{background-position:100% 74%}
    100%{background-position:0% 27%}
}
@keyframes project {
    0%{background-position:0% 27%}
    50%{background-position:100% 74%}
    100%{background-position:0% 27%}
}

@-webkit-keyframes header {
    0%{background-position:0% 43%}
    50%{background-position:100% 58%}
    100%{background-position:0% 43%}
}
@-moz-keyframes header {
    0%{background-position:0% 43%}
    50%{background-position:100% 58%}
    100%{background-position:0% 43%}
}
@keyframes header {
    0%{background-position:0% 43%}
    50%{background-position:100% 58%}
    100%{background-position:0% 43%}
}


header {
  background: linear-gradient(115deg, #0f6f40, #0d7584, #4fab9e, #0f6f40);
  background-size: 800% 800%;

  -webkit-animation: header 23s ease infinite;
  -moz-animation: header 23s ease infinite;
  animation: header 23s ease infinite;
}

#logo {
  max-width: 12em;
  height: auto;
  margin-right: 3em;
}

.about {
  font-size: 2em;
  font-family: 'Open Sans Condensed', sans-serif;
}

body {
  background: #F2F2F2;
}

.projects {
  display: flex;
  flex-direction: column;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

preview {
  margin-bottom: 1em;
  margin-top: 1em;
}

projects {
  color: white;
}

.projectCard {
  width: 35em;
  margin: 2em;
}

.projectCard  img {
  max-width:100%;
  height: auto;
}

.projectCard h4 {
  color: #E0FBDC;
}

.info {
  display: flex;
}

.info a {
  width: 3em;
  margin: 1em;
}

.credit {
  font-size: 0.65em;
}

embed {
  height: 100vh;
}

@media only screen and (max-width: 1100px) {
  .header {
    order: 2;
  }
  .header h1 {
    margin-left: 0em;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  #logo {
    order: 1;
  }
  ul {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    order: 3;
  }
}

#dropdownMenu1 {
  background-color: transparent;
  outline: none;
  border: none;
}

.white, .white a {
  color: #fff;
  font-size: 2.5em;
}


@media only screen and (max-width: 640px) {
  .fullnav {
    display: none;
  }
  #logo {
    display: none;
  }
  .hamburger {
    display: block;
    align-self: center;
    order: 10;
  }
  .header h1 {
    margin-left: 0em;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
}




.bubbles {
  padding: 100px 0;
}
.bubble {
    width: 3em;
    height: 3em;
    background: transparent;
    border: 1px solid white;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
}

.x1 {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.2;
    -webkit-animation: movebubbles 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: movebubbles 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: movebubbles 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {
    left: 3em;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.5;
    -webkit-animation: movebubbles 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: movebubbles 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: movebubbles 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x3 {
    left: 4em;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    -webkit-animation: movebubbles 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: movebubbles 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: movebubbles 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x4 {
    left: 4.5em;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.35;
    -webkit-animation: movebubbles 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: movebubbles 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: movebubbles 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.x5 {
    left: 20em;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    z-index: -10;
    -webkit-animation: movebubbles 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: movebubbles 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: movebubbles 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}

.x6 {
    right: 10em;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.2;
    -webkit-animation: movebubbles 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: movebubbles 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: movebubbles 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x7 {
    right: 3em;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.5;
    z-index: -10;
    -webkit-animation: movebubbles 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: movebubbles 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: movebubbles 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x8 {
    right: 13em;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    z-index: -10;
    -webkit-animation: movebubbles 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: movebubbles 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: movebubbles 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x9 {
    right: 5em;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.35;
    z-index: -10;
    -webkit-animation: movebubbles 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: movebubbles 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: movebubbles 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.x10 {
    right: 17em;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    -webkit-animation: movebubbles 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: movebubbles 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: movebubbles 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
.x11 {
    right: 25em;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    z-index: -10;
    -webkit-animation: movebubbles 13s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: movebubbles 13s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: movebubbles 13s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
.x12 {
    right: 30em;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    z-index: -10;
    -webkit-animation: movebubbles 19s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: movebubbles 19s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: movebubbles 19s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
.x13 {
    right: 37em;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    z-index: -10;
    -webkit-animation: movebubbles 10s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: movebubbles 10s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: movebubbles 10s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
@-webkit-keyframes movebubbles {
    0% {
        top: 200vh;
    }
    100% {
        top: 13em;
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

@-moz-keyframes movebubbles {
    0% {
        top: 200vh;
    }

    100% {
        top: 13em;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}
@-o-keyframes movebubbles {
    0% {
        top: 200vh;
    }
    100% {
        top: 13em;
    }
}

@-o-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}
